
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>Feliz Navidad Mayo</title>

    <link rel="stylesheet" type="text/scss" href="<%= assetPath('app.scss') %>">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap" rel="stylesheet">  

</head>

<body background = "<%= assetPath('Fondo2.jpg') %>" alt = "Fondo2"> 
    
    <div class = "titulo">

        <h1>Feliz Navidad Mayo</h1>

    </div>

    <div class = "parrafo">

        <p>Mayo, este regalito extra es por dos motivos, primero porque no tiene absolutamente ningún sentido un regalo material si la plata que tengo es la que me das tú jaja, así que fome, y segundo, porque nunca les digo ni a ti ni al resto de la familia cuanto los quiero, porque es algo que me cuesta mucho (no me preguntes el porqué), en fin, como decía, aprovechando esta cartita quería que supieras que te quiero infinito, gracias por ser como eres, gracias por todo en lo que me ayudas, todos mis procesos, y casi todos mis gastos jaja, me atrevería a decir que una de las principales motivaciones de tu día a día es llenarnos de regalos a nosotros y que por eso te levantas, trabajas y te esfuerzas en cada uno de tus objetivos, en cierta parte quizás puedo entender como piensas y como sientes porque creo que en cierta parte nos parecemos, y me encantaría algún día tener al menos la mitad de bondad que tú, quizás estés llorando ahora así como yo mientras lo escribía y pues eso, en nombre de toda la familia, que no te quepa ninguna duda de que todos te amamos mucho mucho, y queremos que seas muy feliz. Feliz Navidad <3.</p>

    </div>

    <div class = "imagen">

        <img src = "<%= assetPath('imagen.jpg') %>" alt = "imagen">

    </div>

</body>

</html>