
body {
    background-attachment: fixed;
}

.titulo h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Mea Culpa', cursive;
    color: rgb(7, 55, 70);
}

.parrafo p {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Mea Culpa', cursive;
    color: rgb(7, 55, 70);
}

.imagen img {
    width: 50%;
    height: 50%;
    display:block;
    margin:auto;
    border-radius: 35px;
}

.imagen {
    padding-top: 3%;
    padding-bottom: 5%;
}


